.footer .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: justify;
  font-size: 14px;
}
.footer .item h1 {
  font-size: 18px;
  font-weight: 500;
}

.swiper,
.products,
.product {
  top: 64px;
  width: 100%;
  height: calc(100vh - 66px);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: inherit;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.image:hover .secondimg {
  z-index: -5;
}

.categories {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "item1 y item3 item4"
    "item2 y x x";
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.y {
  grid-area: y;
}

.x {
  grid-area: x;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}


@media screen and (max-width: 850px) {
  .swiper-slide img {
      object-fit: cover;
  }
  .swiper {
    width: 100%;
    top: 56px;
    height: calc(60vh - 66px)
  }
}