.login-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #4c9baf;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s;
}
.login-container button:hover {
  background-color: #1c5c6c;
}
.search{
  background: #dbdbdb;
  padding: 7px;
  border-radius: 5px;
}
.search input {
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  color: black;
  height: 30px;
  background-color: transparent;
  padding-left: 5px;
}

.footer .item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: justify;
  font-size: 14px;
}
.footer .item h1 {
  font-size: 18px;
  font-weight: 500;
}

.swiper {
  width: 100%;
  height: calc(100vh - 65px);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.image:hover .secondimg {
  z-index: -5;
}
.container-left,
.container-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}
.container-left {
  grid-template-areas:
  "item1 y"
  "item2 y";
}

.container-right {
  grid-template-areas:
    "item3 item4"
    "x x ";
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.y {
  grid-area: y;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.x {
  grid-area: x;
}


.product-box::after{
  content: "Show";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  letter-spacing: 2px;
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 50px;
  background: rgb(3, 69, 110);
  transition: 0.4s;
}
.product-box:hover:after {
    bottom: 0;
}

.label {
  width: 100%;
  position: absolute;
  background: cadetblue;
  text-align: center;
  color: white;
  transform: rotate(-45deg) translate(-79px, -54px);
  font-size: 15px;
  box-shadow: inset 0 0 2px 0px black;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: self-start;
}

.categories img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
      bottom: var(--swiper-pagination-bottom, 45px);
}

@media screen and (max-width: 550px) {
  .swiper-slide img {
      object-fit: cover;
  }
  .swiper {
    margin-top: 93px;
    width: 100%;
    height: calc(60vh - 66px)
  }
  .label { 
    transform: rotate(-45deg) translate(-50px, -24px);
      font-size: 13px;
  }
}

@media screen and (min-width: 550px) {
  .swiper-slide img {
      object-fit: cover;
  }
  .swiper {
    width: 100%;
    height: calc(85vh - 66px)
  }
}
@media screen and (min-width: 900px) {
  .swiper-slide img {
      object-fit: initial;
  }
  .swiper {
    width: 100%;
    height: 100vh;
  }
}